{% extends "base.html" %}

{% block title %}
    トイレ利用状況一覧
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3>トイレ利用状況一覧</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>フロア</th>
                    <th>利用状況（男性）</th>
                    <th>利用状況（女性）</th>
                </tr>
                </thead>
                <tbody>
                {% for available_toilet in available_toilets %}
                    <tr>
                        <th>{{ available_toilet.0 }}</th>
                        <td>{{ available_toilet.1 }}</td>
                        <td>{{ available_toilet.2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}